<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
  </appSettings>
  <connectionStrings>
    <add name="BolEx" connectionString="data source=GLORIA;Initial Catalog=BOLSA_EXAMEN;Persist Security Info=True;User ID=BolExamen;Password=801543X457" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ScriptHandlerFactoryAppServices" verb="" path="_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="BolsaExamenASF.webservices.AdmUsuarioAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="BolsaExamenASF.webservices.ConsultaAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="BolsaExamenASF.webservices.ProcesoAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service behaviorConfiguration="MyServiceTypeBehaviors" name="BolsaExamenASF.webservices.AdmUsuario">
        <endpoint address="" behaviorConfiguration="BolsaExamenASF.webservices.AdmUsuarioAspNetAjaxBehavior"
          binding="webHttpBinding" contract="BolsaExamenASF.webservices.AdmUsuario" />
      </service>
      <service behaviorConfiguration="MyServiceTypeBehaviors" name="BolsaExamenASF.webservices.Consulta">
        <endpoint address="" behaviorConfiguration="BolsaExamenASF.webservices.ConsultaAspNetAjaxBehavior"
          binding="webHttpBinding" contract="BolsaExamenASF.webservices.Consulta" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="BolsaExamenASF.webservices.Proceso">
        <endpoint address="" behaviorConfiguration="BolsaExamenASF.webservices.ProcesoAspNetAjaxBehavior"
          binding="webHttpBinding" contract="BolsaExamenASF.webservices.Proceso" />
      </service>
    </services>
  </system.serviceModel>
</configuration>